$dark: #1a1a1a;
$white: #fff;
$w_100: 100%;

* {
  box-sizing: border-box;
}
body {
  background-color: #fdfdfd;
  height: $w_100;
}
input,
select,
button {
  border: none;
  outline-style: none;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 720px;
    height: 68px;
    margin-bottom: 48px;
    background: $white;
    border-radius: 3px;
    box-shadow: 1px 3px 9px rgba($dark, 0.12);
    &__language {
      position: relative;
      appearance: none;
      height: 100%;
      padding: 12px 42px 12px 21px;
      color: $dark;
      border-right: 1px solid rgba($dark, 0.08);
      cursor: pointer;
    }
    &__arrow {
      position: absolute;
      top: 30px;
      left: 86px;
      pointer-events: none;
      border-style: solid;
      border-width: 8px 5px 0px 5px;
      border-color: rgba($dark, 0.7) transparent transparent transparent;
    }
    &__input {
      flex-grow: 1;
      padding: 26px 24px;
      color: $dark;
    }
    &__btn {
      cursor: pointer;
      height: $w_100;
      padding: 24px 48px;
      background-color: $dark;
      color: $white;
      transition: background-color 0.3s;
      &:hover {
        background-color: #6f6f6f;
      }
    }
  }
  .result {
    width: $w_100;
    display: flex;
    &__list {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 767px)  {  
  .app {
    height: $w_100;
    overflow: hidden;
    margin-top: 48px;
    .search {
      flex-direction: column;
      height: 200px;
      width: 70%;
      &__language {
        border-bottom: 1px solid rgba($dark, 0.08);
        padding: 26px 24px;
        width: $w_100;
      }
      &__arrow {
        left: auto;
        right: 12px;
        top: 27px;
      }
      &__input {
        width: $w_100;
      }
      &__btn {
        width: $w_100;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .app {
    height: $w_100;
    h2 {
      margin-top: 144px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .app {
    height: $w_100;
    h2 {
      margin-top: 244px;
    }
  }
}
